
      <div id="wrapper">
        <!-- start header -->
        <header>
              <div class="navbar navbar-default navbar-static-top">
                  <div class="container">
                      <div class="navbar-header">
                          
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </button>
                          <img src="././assets/img/logo.png" alt="" />
                          
                      </div>
                      <div class="navbar-collapse collapse ">
                          <ul class="nav navbar-nav">
                              <li class="dropdown">
                                <a href="/home" class="dropdown-toggle "  >Accueil <b class=" icon-angle-down"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/interactif">A propos du Forum</a></li>
                                    <li><a href="/evaluation">Charte des organisateurs</a></li>
                                    <li><a href="/evaluation">Charte des participants</a></li>
                        
                                </ul>
                            </li>
                            
                                <li class="dropdown">
                            <a href="/programme" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Le Forum <b class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/interactif">A propos du Forum</a></li>
                                <li><a href="/evaluation">Appel à contributions</a></li>
                                <li><a href="/evaluation">Axes principaux</a></li>
                                <li><a href="/evaluation">Comité d’honneur</a></li>
                                <li><a href="/evaluation">Comité Scientifique</a></li>
                                <li><a href="/evaluation">Comité Organisateur</a></li>
					
                            </ul>
                        </li>

                        
                        <li class="dropdown">
                          <a href="/programme" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Soumission<b class=" icon-angle-down"></b></a>
                          <ul class="dropdown-menu">
                              <li><a href="/interactif">Soumission des résumés</a></li>
                              <li><a href="/evaluation">Critères d’évaluation</a></li>
                              <li><a href="/evaluation">Format des propositions</a></li>
                              <li><a href="/formulaireresumer">Formulaire Soumission des Résumés</a></li>
                              <li><a href="/evaluation">Formulaire de confirmation</a></li>
                              <li><a href="/evaluation">Dates importantes</a></li>
        
                          </ul>
                      </li>


                          
                      <li class="dropdown">
                        <a href="/programme" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Programme<b class=" icon-angle-down"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/interactif">Programme interactif</a></li>
                            <li><a href="/evaluation">Dépliants</a></li>
                            <li><a href="/evaluation">Formulaire d’inscription</a></li>
                            <li><a href="/evaluation">Cahier des résumés</a></li>
                            <li><a href="/evaluation">DÎNER RÉSEAUTAGE-CONFÉRENCE À BORJ-DHIAFA</a></li>
                            <li><a href="/evaluation">Fiche d’évaluation</a></li>
      
                        </ul>
                    </li>
                

                    <li class="dropdown">
                      <a href="/programme" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">formation<b class=" icon-angle-down"></b></a>
                      <ul class="dropdown-menu">
                          <li><a href="/interactif">l’enseignement supérieur</a></li>
                          <li><a href="/evaluation">l’enseignement secondaire </a></li>
                          <li><a href="/evaluation">Enseignement primaire</a></li>
                          <li><a href="/evaluation">formation pour les cadres </a></li>
      
                          
    
                      </ul>
                  </li>
              

                  <li><a href="/Inscription">Inscription</a></li>
                 

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Préforum   <b class=" icon-angle-down"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/preforum1">Préforum 1</a></li>
                        <li><a href="/preforum2">Préforum 2</a></li>
                    </ul>
                </li>
                 
                
                <li class="dropdown">
                  <a href="/programme" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Sponsors <b class=" icon-angle-down"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="/Sponsors">Sponsors forum</a></li>
                      <li><a href="/Donation ">Donateurs</a></li>
                      
                  </ul>
              </li>
          
            
                        <li class="dropdown">
                                <a href="/programme" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">edition 2017 <b class=" icon-angle-down"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Sponsors"> Rapports d'activités</a></li>
                                    <li><a href="/Sponsors"> Actes du Forum</a></li>
                                    <li><a href="/Sponsors"> le Forum en photos </a></li>
                                    
                                </ul>
                            </li>      
                     
                  
                  
            
                  
                  
                          </ul>
                      </div>
                  </div>
              </div>
        </header>
        <!-- end header -->
        <section id="featured">
        <!-- start slider -->
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
        
			 <img src="././assets/img/slides/1.jpg" alt="" width="90%"/>
			 <!-- Slider -->
			  <!--
              <div id="main-slider" class="flexslider">
                  <ul class="slides">
              
                    <li>
                      <img src="././assets/img/slides/1.jpg" alt="" />
                      <div class="flex-caption">
                <h4>Quel projet educatif pour la tunisie?</h4>  
                <a href="#" class="btn btn-theme">S'inscrire</a>
                      </div>
              </li>
              <li>
                      <img src="././assets/img/slides/2.jpg" alt="" />
                      <div class="flex-caption">
                          <h4>Quel projet educatif pour la tunisie?</h4> 
                 
                <a href="#" class="btn btn-theme">S'inscrire</a>
                      </div>
              </li>
              <li>
                <img src="././assets/img/slides/3.jpg" alt="" />
                <div class="flex-caption">
                  <h4>Quel projet educatif pour la tunisie?</h4>  
                  <a href="#" class="btn btn-theme">S'inscrire</a>
                </div>
                </li>
                    
                    
                  </ul>
              </div>-->
        <!-- end slider -->
            </div>
          </div>
        </div>	
        